# Environment variables
.env

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Editor / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
